.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;     
  }

  @media screen and (min-height: 800px) {
    .bt{
      margin-bottom: 3%;
    }
  }